<%page expression_filter="h"/>
<%!
    from django.conf import settings
    from django.urls import reverse
    from six import text_type
%>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />
<%block name="headextra">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta property="og:image" content="${accomplishment_certificate_share_image}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="${accomplishment_verify_url}">
    <meta property="og:title" content="${accomplishment_course_type_text}">
    <meta property="og:description" content="${accomplishment_course_description}">
    <meta name="twitter:title" content="${accomplishment_course_type_text}" />
    <meta name="twitter:image" content="${accomplishment_certificate_share_image}" />
    <meta name="twitter:description" content="${accomplishment_course_description}" />
    <link rel="icon" type="image/x-icon" href="${static.url('images/fav_icon.png')}"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
        :root {
            --background: #ffffff;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            ;
        }

        html,
        body {
            height: 100%;
            background: none !important;
        }
        h2.montHeader, .print_no_show{font-family: 'Montserrat', sans-serif !important;}
	    p{font-family: 'Montserrat-bold', sans-serif !important;}
        .fontMonsRegular{font-family: 'Montserrat-Regular', sans-serif !important; color: #4A494A;}
        p+p {
            margin-top: 0;
        }
        body {
            margin: 0;
            font-family: 'Montserrat', sans-serif !important;
            background-color: var(--background);
        }

	.cert_h2{
		font-family: 'Montserrat-bold', sans-serif !important;
		font-weight: 700;
	}

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
	    margin-top: 20px !important;
        }
        p.fontBlack {
            color: #000;
        }
        .cert_container {
            width: 1075px;
            background: url("${static.url('images/Certificate-MHPro-Proficiency-02.png')}") no-repeat padding-box;
            background-size: contain;
            height: 100%;
        }

        .cert_container_bg {
            background: url("${static.url('images/Certificate-MHPro-Proficiency-03.png')}") no-repeat padding-box;
            background-size: contain;
            height: 100%;
        }

        .cert_container_brdr {
            background-size: contain;
            height: 100%;
        }

        .cert_container_brdr_right {
            background-size: contain;
            height: 100%;
            width: 100%;
            display: inline-block;
        }

        .montHeader {
            font-size: 37px;
            font-weight: 900;
            color: #0d0d0d;
            margin-top: 20px;
        }

        .cert_content_pad {
            height: 100%;
            padding: 30px 70px 20px 70px;
        }

        .flex-center {
            display: flex;
            justify-content: space-evenly;
        }

        .grid-center {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 75px;
        }

        .grid-center-footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 50px;
        }

        .grid-center>div {
            max-width: 200px;
        }

        .text-center {
            text-align: center;
        }

        .cert_sign>div>p.dName {
            font-size: 12px;
            font-weight: bold;
            border-top: 1px dotted var(--fontColor);
            padding-top: 5px;
            width: 150px;
            text-align: left;
        }

        .dName {
            font-size: 17px !important;
            width: 100% !important;
        }

        .dDes {
            font-size: 0.8rem;
        }

        .cert_sign>div>img {
            width: 105px;
            height: 50px;
            object-fit: cover;
        }

        .cert_logo img {
            max-height: 80px;
            max-width: 210px;
        }

        .cert_header {
            text-align: center;
        }

        .cert_info {
            margin-top: 10px;
        }

        .info_1,
        .info_2,
        .info_3 {
            text-align: center;
            margin-top: 10px;
        }

        .cert_info p {
            display: inline-block;
        }

        .fontBold {
            font-weight: 700;
        }

        .fontBlack900 {
            font-weight: 900;
        }

        .fontMedium {
            font-weight: 500;
        }

        .fontReg {
            font-weight: 400;
        }
    .font600{
        font-weight:600;
    }

        .font14 {
            font-size: 14px;
        }
        .font7 {
            font-size: 7px;
        }
        .font9 {
            font-size: 9px;
        }
    .font10{
        font-size:10px;
    }

        .font11 {
            font-size: 11px;
        }

        .fontBlack {
            color: #4a494a;
        }

        .fontBlue {
            color: #066fb4 !important;
        }

        .fontLBlack {
            color: #303030;
        }

        .vibes {
            margin: 0px 2px;
            border-bottom: 1px dotted var(--fontColor);
            flex-grow: 1;
            text-align: center;
        }

        .vibes>span {
            font-size: 1.3rem !important;
        }

        .prof_cert {
            margin-top: 90px !important;
        }

        .prof_cert_half {
            margin-top: 70px !important;
        }

        .cert_sign {
            margin-top: 20px;
        }

        .cert_sign>p {
            font-size: 12px;
            font-weight: bold;
            border-top: 1px dotted var(--fontColor);
            padding-top: 5px;
            width: 150px;
            text-align: center;
        }

        .cert_desc {
            margin-top: 10px;
            align-items: baseline !important;
        }


        .cert_desc>div {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr;
        }

	.cert_desc_three > div:first-child {
  width: 160px;
  margin-left: 16px;
  margin-right: 11px;
}

.cert_desc_three > div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  margin-right: 30px;
}

	    /* For 3 icons */
    .cert_desc_three {
        display: flex;
        justify-content: space-between;
    }
        /* For 2 icons */
    .cert_desc_two {
        display: flex;
        justify-content: center;
    }

        .cert_desc img {
            max-height: 80px;
            width: 80px;
            object-fit: contain;
            justify-self: center;
        }

        .asso_img_2 {
            width: 175px !important;
        }

        .asso_img_3 {
            width: 115px !important;
        }

        .center {
            text-align: center;
            display: block;
        }

        .verify {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .sign_container {
            min-height: 140px;
        }

        .mt-30 {
            margin-top: 30px;
        }

        .cert_footer_img_mhp {
            object-fit: contain !important;
            height: 120px !important;
            margin-left: 30px;
        }

        @media screen and (max-width:767px) {
            .cert_container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 10px;
            }

            .cert_container_bg,
            .cert_container_brdr {
                background-size: cover;
            }

            .cert_container_brdr_right {
                background: none !important;
            }

            .cert_header {
                margin-top: 0px;
            }
        }

        .cookie-banner {
            display: none !important;
        }

        .cert_sign>div>img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .grid-center_spl>div {
            max-width: 150px;
        }

        @media screen and (max-width: 768px) {
            .certificate_container {
                overflow-x: auto;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .left_sign_2 {
            margin-right: 100px;
        }

        .right_sign_2 {}

        .left_sign_3 {
            margin-right: 70px;
        }

        .right_sign_3 {}

        @media screen and (max-width: 1400px) {
            .main_container {
                width: 1400px !important;
            }

            .window-wrap {
                width: fit-content;
            }
        }

        @media print {
            .print_no_show {
                display: none;
            }

            .sub-footer-container {
                display: none;
            }

            .fixed_container {
                display: none;
            }

            .header_container {
                display: none;
            }

            .inner_container {
                display: none;
            }

            .banner_front_image {
                display: none;
            }
        }

        @media screen {
            .banner_front_image {
                display: none;
            }
        }

        .popupDownload {
            position: relative;
        }

        .popupDownload .popupTextDownload {
            visibility: hidden;
            width: 230px;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 6px;
            padding: 30px 0;
	    cursor: default !important;
            position: absolute;
            z-index: 9999;
            bottom: 125%;
            left: 25%;
            margin-left: -80px;
            box-shadow: 0px 3px 8px #2e3d4933;
        }

        /* Popup arrow */
        .popupDownload .popupTextDownload::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

        .popupDownload .showDownload {
            visibility: visible;
        }

        .popupShare {
            position: relative;
        }

        .popupShare .popupTextShare {
            visibility: hidden;
            width: 230px;
            background-color: white;
            color: black;
            text-align: center;
            border-radius: 6px;
            padding: 30px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 25%;
            margin-left: -80px;
            box-shadow: 0px 3px 8px #2e3d4933;
        }

        /* Popup arrow */
        .popupShare .popupTextShare::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

        .popupShare .showShare {
            visibility: visible;
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        button .search_icon {
            margin-top: 10px !important;
        }

        @media screen and (min-width: 3000px) {
            .sub-footer-container {
                position: fixed;
                bottom: 0;
                width: -webkit-fill-available;
            }
        }

        button:hover,
        button:active {
            box-shadow: none;
            background-image: none;
        }
	.sec_txt{
            line-height: 6px;
    	}
    </style>
</%block>
<%block name="pagetitle">
    ${accomplishment_course_type_text}
</%block>
<main style="width: 100%;display: flex; gap: 25px;grid-template-columns: 1fr 1fr;justify-content: center;align-items: flex-start;">
	
	<div class="cert_container " style="width:908px;height:640px">
        <div class="cert_container_bg">
            <div class="cert_container_brdr">
                <div class="cert_container_brdr_right">
                    <div class="cert_content_pad">
                        <div class="cert_logo mt-10">
                            <div class="cert_header" style="padding:0px;">
                                <img src="${static.url('images/logo.png')}" />
                            </div>
                        </div>
                        <h2 class="text-center montHeader" style="text-transform: uppercase;">
                            ${accomplishment_course_type_text}
                        </h2>
                        <div class="cert_info">
                            <div class="info_1">
                                <p class=" fontBlack font14 fontMedium">This is to certify that</p>
                                <p class="fontBlack">
                                    <span class="fontBold font14" id="certi_name_id">${accomplishment_copy_name}</span>
                                </p>
                                <p class="fontBlack font14 fontMedium">has successfully completed the course in &nbsp;</p>
                            </div>
                            <div class="info_2">
                                <p class="programName font14 fontBold fontBlack">${accomplishment_copy_course_name}</p>
                                <p class="font14 fontBlack fontMedium">&nbsp;on&nbsp;</p>
                                <p class="">
                                    <span class="font14 fontBlack fontMedium">${accomplishment_cert_date}</span>
                                </p>
                            </div>
                        </div>
                        % if credits_text:
                            <p class="text-center fontBlack fontBold font14 mt-10" style="margin-top: 22px;">Credits: ${credits_text}</p>
                        % endif
                        <div class="sign_container">
                            <p class="text-center fontMedium font14 fontBlack" style="margin-top:22px;">Certified by Dentist Academy</p>
                            <div class="cert_sign grid-center">
                                <div class="right_sign">
                                    <img src="${static.url('images/Padmini_Prasad_Sign.png')}" />
                                    <div style="top:5px;position:relative">
                                        <p class="fontBlack font600 font10" >Dr. Padmini Prasad</p>
                                        <p class="fontBlack font600 font10">Course Director</p>
                                    </div>
                                </div>
                                <div class="right_sign">
                                    <img src="${static.url('images/SS_Vasan_Sign.png')}" />
                                    <div style="top:5px;position:relative">
                                        <p class="fontBlack font600 font10" >Dr. SS Vasan</p>
                                        <p class="fontBlack font600 font10">Program Director</p>
                                    </div>
                                </div>
                                <div class="right_sign">
                                    <img src="${static.url('images/Suresh_Elangovan_Sign.png')}" style="margin-top:10px;" />
                                    <p class="fontBlack font600 font10">Suresh Elangovan</p>
                                    <p class="fontBlack font600 font10">President & CEO</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-center fontBlack fontMedium font14 mt-10">In Association with</p>
			<!-- <div class="cert_desc flex-center ">-->
			<div class="cert_desc {% if credits_text %}cert_desc_three{% else %}cert_desc_two{% endif %} flex-center">
                            % if credits_text:
                                <div>
                                    <img class="asso_img_1" src="${static.url('images/cpd logo.png')}" />
                                    <div>
                                    </div>
                                    <p class="font7 fontMonsRegular text-center">THE CPD STANDARDS, UK</p>
                                    <p class="font7 fontMonsRegular text-center sec_txt">CPD PROVIDER, 50493</p>
                                </div>
                            % endif
                            <div>
                                <img class="asso_img_2" src="${static.url('images/isamh.png')}" />
                                <div>
                                    <p class="font7 fontMonsRegular text-center">INTERNATIONAL SOCIETY OF FERTILITY</p>
                                    <p class="font7 fontMonsRegular text-center sec_txt">& REPRODUCTIVE HEALTH</p>
                                </div>
                            </div>
                            <div>
                                <img class="asso_img_3" src="${static.url('images/sassm.png')}" />
                                <div>
                                    <p class="font7 fontMonsRegular text-center">SOUTH ASIAN SOCIETY FOR</p>
                                    <p class="font7 fontMonsRegular text-center sec_txt">SEXUAL MEDICINE</p>
                                </div>
                            </div>
                        </div>
                        <div class="verify" style="margin-top:30px !important">
                            <p class="font11 fontLBlack fontReg" style="font-size:10px;">Verify the certificate at:
                                <a class="font11 fontReg fontBlue" href="${accomplishment_verify_url}">${accomplishment_verify_url}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="print_no_show" style="font-size: 16px; line-height: 1.4em; width: 812px; margin-top: 6%;">This certificate above verifies that <span style="color: #006eb9">${accomplishment_copy_name}</span> successfully completed the <span style="color: #006eb9">${accomplishment_copy_course_name}</span> course on <span style="color: #006eb9">${accomplishment_cert_date}</span> by Dentist Academy.</div>
    </div>
    <div class="right_div">
        <div style="font-weight: bold; color: black; font-size: 25px;">
            <h3 class="cert_h2">Certificate Recipient:</h3>
        </div>
        <div style="margin-top: 30px; display: flex; align-items: center; line-height: 1.4em;">
            <span id="abbr_id" style="font-weight: bold; font-size: 25px; color: white; background-color: black; border-radius: 50px; padding:5%; line-height: 1.4em; text-transform: uppercase; width: 70px; height: 70px !important; text-align: center;"></span>
            <div style="margin-left: 20px; font-size: 21px; color: #58595b; text-transform: capitalize; font-family: 'Montserrat-Bold';">${accomplishment_copy_name}</div>
        </div>
        <div style="margin-top: 50px;">
            <div style="font-weight: bold; color: black; font-size: 25px;">
                <p>About the Course:</p>
            </div>
            <div style="margin-top: 5%;">
                <img src="${accomplishment_course_image}" style="width: 330px; height: 200px;text-decoration: none;">
            </div>
            <div style="font-weight: bold; margin-top: 8%; color: black; font-size: 25px; width: 350px; line-height: 1em;">
                <p>${accomplishment_copy_course_name}</p>
            </div>
            <div style="margin-top: 5%; color: black; width: 350px; font-size: 18px; font-weight: 400; line-height: 1.2em;">
                <p>${accomplishment_course_description}</p>
            </div>
            <div style="display: flex; margin-top: 5%; color: black; width: 350px; font-size: 18px; justify-content: space-between;">
                <button type="submit" id="downloadButtonId" class="btn menu_login popupDownload" style="    border: none;text-shadow: none; text-transform: capitalize; display: flex; color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 20px; font-size: 17px; background-color: #842990; border-radius: 10px;" onclick="pop_up_download();">
                    <img src="${static.url('images/download_icon.png')}" style="margin-right: 1rem; width: 24px !important;">Download
                    <div tabindex="-1" class="popupTextDownload" id="myPopUpDownloadId" onblur="close_on_blur_downloads();">
                        <div style="text-transform: none;">Choose the format</div>
                        <div style="padding-top: 10%; text-transform: none !important;">
                            <a style="color: black !important;" href="${accomplishment_certificate_image}" target="_blank">
				<span style="border: black 1px solid; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px;">
                            .jpg
                            </span>
			    </a>
                            <a style="color: black !important; text-decoration: none;" href="${accomplishment_certificate_download}" target="_blank">
			    <span style="margin-left: 5%; border: black 1px solid; padding-left: 20px; padding-right: 20px; padding-bottom: 10px; padding-top: 10px;">
                            .pdf
                            </span>
			    </a>
                        </div>
                    </div>
                </button>
                <button type="submit" id="shareButtonId" class="btn menu_login popupShare" style="    border: none;text-shadow: none; text-transform: capitalize; display: flex; color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 20px; font-size: 17px; background-color: #842990; border-radius: 10px;" onclick="pop_up_share();">
                    <img src="${static.url('images/share_icon.png')}" style="margin-right: 1rem; width: 24px !important;">Share
                    <div role="button" tabindex="-1" class="popupTextShare" id="myPopUpShareId" onblur="close_on_blur_share();">
                        <div style="text-transform: none;">Share this certificate</div>
                        <div style="padding-top:5%;">
                            <span>
                            <a id="ogBt" href="${facebook_url}" target="_blank">
                            <img class="" style="width: 25px !important;" src="${static.url('images/FB-icon.png')}">
                            </a>
                            </span>
                            <span>
                            <a href="${twitter_url}" target="_blank">
                            <img class="" style="width: 25px !important;" src="${static.url('images/Twitter-icon.png')}">
                            </a>
                            </span>
                            <span>
                            <a href="${linked_in_url}" target="_blank">
                            <img class="" style="width: 25px !important;" src="${static.url('images/Linkedin.png')}">
                            </a>
                            </span>
                        </div>
                    </div>
                </button>
                <div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type=text/javascript>
    var name = document.getElementById("certi_name_id").textContent;
    function getAbbrevation() {
        var list_of_all_strings = name.trim().split(" ");
        if (list_of_all_strings.includes('Mr')) {
            index = list_of_all_strings.indexOf('Mr');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Mr.')) {
            index = list_of_all_strings.indexOf('Mr.');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Ms')) {
            index = list_of_all_strings.indexOf('Ms');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Ms.')) {
            index = list_of_all_strings.indexOf('Ms.');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Mrs')) {
            index = list_of_all_strings.indexOf('Mrs');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Mrs.')) {
            index = list_of_all_strings.indexOf('Mrs.');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Dr')) {
            index = list_of_all_strings.indexOf('Dr');
            list_of_all_strings.splice(index, 1);
        } else if (list_of_all_strings.includes('Dr.')) {
            index = list_of_all_strings.indexOf('Dr.');
            list_of_all_strings.splice(index, 1);
        }
        var list_of_strings = [];
        for (var i = 0; i < list_of_all_strings.length; i++) {
            if (list_of_all_strings[i].length != 0) {
                list_of_strings.push((list_of_all_strings[i]));
            }
        }
        if (list_of_strings.length > 1) {
            selected_names_abbr = list_of_strings[0][0] + list_of_strings[1][0]
        } else {
            selected_names_abbr = list_of_strings[0][0]
        }
        document.getElementById("abbr_id").innerHTML = selected_names_abbr;

    }
    getAbbrevation();
</script>
<script type="text/javascript">
    var popup_download = document.getElementById("myPopUpDownloadId");
    var popup_share = document.getElementById("myPopUpShareId");
    
    document.getElementById("downloadButtonId").addEventListener("click", () => {
        document.getElementById("myPopUpDownloadId").focus();
    });
    
        document.getElementById("shareButtonId").addEventListener("click", () => {
                document.getElementById("myPopUpShareId").focus();
        });
    
        function pop_up_download() {    
            if ($("div").hasClass("showShare")== true){         
                    popup_share.classList.remove("showShare");
            }
            popup_download.classList.toggle("showDownload");
        };
    
        function pop_up_share() {
    if ($("div").hasClass("showDownload")== true){
        popup_download.classList.remove("showDownload");
    }
            popup_share.classList.toggle("showShare");
        }
    
        function close_on_blur_download() {
            myPopUpDownloadId.classList.remove("showDownload");
        }
    
        function close_on_blur_share() {
            myPopUpShareId.classList.remove("showShare");
        }
</script>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
     function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    
     }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
